#locations h2 {
    color: $rust;
    margin-bottom: 1.5rem;
}

.location-icon {
    background-image: url(../img/noun_Store_1362649.svg);
    background-repeat: no-repeat;
    background-size: 50px 50px;
    padding-left: 60px;
}

.hours-icon {
    background-image: url(../img/noun_clock_1990361.svg);
    background-repeat: no-repeat;
    background-size: 50px 50px;
    padding-left: 60px;
}

.phone-icon {
    background-image: url(../img/noun_Phone_1986302.svg);
    background-repeat: no-repeat;
    background-size: 50px 50px;
    padding-left: 60px;
    height: 50px;
}