$primary: #23100c;
$rust: #973803;
$gold: #d5a132;
$brown: #b0906a;
$darkbrown: #23100c;
$body-bg: #e1cdb5;

$navbar-dark-color: $gold;
$navbar-padding-y: ($spacer / 10);
$navbar-brand-font-size: 2rem;
