@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";
@import url('https://fonts.googleapis.com/css?family=Marck+Script|Open+Sans|Raleway');

@import "variables";
@import "navbar";

html, body {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    color: $body-bg;
    font-family: 'Raleway', sans-serif;
    font-size: 3rem;
    font-weight: bolder;
    text-shadow: 4px 4px 15px #23100c;
    line-height: 3rem;

    @media (min-width: 768px) {
        font-size: 8rem;
        line-height: 8rem;
    }
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-image: url("../img/ales-krivec-623956-unsplash.jpg");
    background-position: center right;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2rem;

    .btn-primary {
        color: $navbar-dark-color !important;
        @include button-variant($primary, darken($primary, 7.5%), darken($primary, 10%), lighten($primary,5%), lighten($primary, 10%), darken($primary,30%));
    }
}

@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/navbar";
@import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/bootstrap/scss/transitions";
@import "../node_modules/bootstrap/scss/buttons";